/* ==============================
        MINIMAL BLACK ROFI
   ============================== */

* {
    bg: #0b0b0b;
    bg-alt: #161616;

    fg: #eeeeee;
    fg-alt: #8a8a8a;

    select: #ffffff;

    font: "JetBrainsMono Nerd Font 12";

    background-color: transparent;
    text-color: @fg;
}


window {
    width: 1200px;

    location: center;

    background-color: @bg;

    border-radius: 18px;

    border: 1px;
    border-color: #333333;

    padding: 20px;
}


mainbox {
    background-color: transparent;

    spacing: 15px;
}


/* Buscador */
inputbar {
    background-color: @bg-alt;

    border-radius: 14px;

    padding: 14px;

    spacing: 12px;

    children: [prompt, entry];
}


prompt {
    text-color: @fg;

    font: "JetBrainsMono Nerd Font Bold 15";
}


entry {
    background-color: transparent;

    placeholder: "Buscar...";
    placeholder-color: @fg-alt;

    text-color: @fg;
}


/* Lista */
listview {
    background-color: transparent;

    lines: 10;

    spacing: 8px;

    scrollbar: false;
}


/* Tarjetas */
element {
    background-color: transparent;

    border-radius: 12px;

    padding: 10px;

    spacing: 12px;

    children: [
        element-icon,
        element-text
    ];
}


element normal.normal {
    background-color: transparent;
}


element selected.normal {
    background-color: @select;

    text-color: #000000;
}


element-icon {
    background-color: transparent;

    size: 32px;
}


element-text {
    background-color: transparent;

    text-color: inherit;

    vertical-align: 0.5;
}


/* Mensaje abajo */
message {
    background-color: transparent;
}


textbox {
    text-color: @fg-alt;
}


/* arregla fondos blancos */
element alternate.normal {
    background-color: transparent;
}